<%
// error.ejs
// Variables expected:
// - pageTitle: string
// - errorMessage: string
// - errorStack: string (optional)
%>

<head>
  <link rel="stylesheet" href="/outdoorsy/stylesheets/error.css" />
</head>

<div class="container error-container mt-5" >
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="alert alert-danger shadow-sm error-alert" role="alert">
        <h1 id="errorTitle" class="alert-heading h4">Something went wrong</h1>
        <p class="error-message"><%= errorMessage %></p>

        <% if (errorStack) { %>
          <hr />
          <pre class="error-stack"><%= errorStack %></pre>
        <% } %>
      </div>

      <div class="text-center mt-4">
        <a href="/" class="btn btn-primary btn-lg">
          <i class="fas fa-home me-2" aria-hidden="true"></i> Go Back Home
        </a>
      </div>
    </div>
  </div>
</div>